.bg-container{
    background-color: #5b80ba;
    height: 100vh;
    width: 100vw;
    background-size: cover;
}
.heading-container{
    font-size: 50px;
    font-family:serif;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    color: white;
}
.container{
    height: 375px;
    width: 520px;
    margin: auto;
    background-color: #f099ed;
    border-radius: 10px;
    border-color:#16cc9f;
}
.p-container{
    font-size: 32px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}
.datasize{
    font-size: 22px;
    text-align: center;
    height: 55px;
    width: 123px;
    padding: 3px;
    padding-top: 2px;
    margin: 2px;
    border-radius: 4px;
    border-color: #d49e4e;
}
