.bg-container{
    background-image: url("C:/Users/SSLTP11524/Downloads/flower.jpeg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
}
.zero-container{
    background-color: black;
    height: 30px;
    width: 280px;
    color: white;
    text-align: left;
}
.card-container{
    background-color: white;
    border-radius: 8px;
    border: 2px,2px,red;
    height: 300px;
    width: 280px;
    text-align: center;
    margin: auto;
}
button{
    height:40px;
    width:60px;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
}

